

.main
{
	height: 100%;
	width: 100%;
	display: table;
}

.hero-image 
{   
    color: white;
	font-size: 30px;
	font-family: 'Ubuntu';
	height: 100%;
	margin: 0;
	/* display: table-cell; */
	height: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    display: :flex;;
}


#hi 
{
	font-size: 54px;
	margin: 0;
}

#me
{
	font-size: 24px;
	margin: 0;
}

#txt1
{
    font-size: 16px;
}

#txt2
{
    font-size: 16px;
}


#impress
{
    font-size: 16px;
}

#resume
{
    font-size: 16px;
}
#bounce 
{   
    flex: 1;
    display: flex;
    justify-content: center;
	height: 10%;
}

#bounce:first-child > span { margin-right: auto; }

#bounce:last-child  > span { margin-left: auto;  }

#ball
{
    /* display: table; */
    margin: 0 auto;
    position: absolute;
	background-color: white;
	height: 10px;
	width: 10px;
	border-radius: 100%;
}
