

.main
{
	height: 100%;
	width: 100%;
	display: table;
}




/* #hi 
{
	font-size: 54px;
	margin: 0;
}

#me
{
	font-size: 24px;
	margin: 0;
}

#txt1
{
    font-size: 16px;
}

#txt2
{
    font-size: 16px;
}


#impress
{
    font-size: 16px;
}

#resume
{
    font-size: 16px;
}
#bounce 
{   
    flex: 1;
    display: flex;
    justify-content: center;
	height: 10%;
} */


#ball
{
    /* display: table; */
    margin: 0 auto;
    position: absolute;
	background-color: white;
	height: 10px;
	width: 10px;
	border-radius: 100%;
}
